<mat-toolbar color="primary" class="mat-elevation-z15">
   <span><mat-icon>home</mat-icon> HOMEPAGE </span>

<div class="spacer"></div>


<a mat-button routerLink="Dashboard">Dashboard</a>
<a mat-button routerLink="Mybooking">Mybooking</a>
<a mat-raised-button color="accent" routerLink="logout">logout</a>




  </mat-toolbar>
  <mat-card>
      <mat-card-title>
        Mobile service
      </mat-card-title>
      <mat-card-content>
        
      </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Touch service
    </mat-card-title>
    <mat-card-content>
      
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
      Wecare service
    </mat-card-title>
    <mat-card-content>
      
    </mat-card-content>
</mat-card>

  