#example-Mobileservice{
    max-width: 600px;
    margin-bottom: 8px;
    padding: 20px;
    margin-top: 30px;
    align-self: center;
    float: right;
}
#example-Touchservice{
    max-width: 600px;
    margin-bottom: 8px;
    padding: 20px;
    margin-top: 30px;
    align-self: center;
}
#example-Wecareservice{
    max-width: 600px;
    margin-bottom: 8px;
    padding: 20px;
    margin-top: 30px;
    align-self: center;
}